# Ignore arquivos de ambiente
.env

# Ignore cookies salvos
cookies.pkl

# Ignore a pasta de ambiente virtual do Python
venv/

# Ignore arquivos de log e caches do Python
*.log
*.cache

# Ignore arquivos gerados automaticamente
__pycache__/

# Ignore arquivos de dependências e builds
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore arquivos de IDEs comuns
.vscode/
.idea/

# Ignore arquivos de backup
*~

# Ignore arquivos de testes de desenvolvimento
*.pytest_cache/

# Ignore arquivos de configuração local
*.local
